/*
STYLESHEET USED TO STYLE THE CONTENT OF POTGOO.SE - Late 2023
*/

h1 {font-size: 40px; margin: 28px 0 10px;}
h2 {font-size: 36px; margin: 28px 0 10px;}
h3 {font-size: 32px; margin: 24px 0 10px;}
h4 {font-size: 29px; margin: 20px 0 10px;}
h5 {font-size: 26px; margin: 20px 0 10px;}
h6 {font-size: 23px; margin: 20px 0 10px;}
h1,h2 {border-bottom: 1px solid var(--normal-text-color); clear: both; font-weight: normal;}

.content {
    font-size: 17px;
}

.content footer {
    border-top: 1px solid var(--normal-border-color);
    margin-top: 50px;
    padding-top: 10px;
    font-size: 14px;
    font-family: "Comic Mono", monospace;
    color: var(--dark-text-color);
}
.content footer a {color: var(--dark-link-color);}

.content p {
    margin: 0 0 10px; 
    font-size: inherit;
    line-height: 1.35;
}

.content ul,
.content ol {margin: 10px 0;}
.content li {padding: 2px;}

.content a {color: var(--bright-text-color); text-decoration: dashed underline;}
.content a:hover {text-decoration: underline;}

.content img,
.content video {
    box-sizing: border-box;
    max-height: 600px;
    margin: 10px 0;
    padding: 5px;
}

.content pre,
.content figure {
    border-radius: var(--normal-radius);
}

.content pre,
.content figure,
.content iframe {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid var(--normal-border-color);
}
.content iframe {width: 100%;}
.content pre {white-space: pre-line; height: fit-content; font-family: "Comic Mono", monospace;}
.content code {font-family: inherit;}
.content figure {width: fit-content;}
.content figure figcaption {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
}
.content figure img,
.content figure video {
    margin: 0;
    padding: 0;
    border: 1px solid var(--bright-border-color);
}

.content .spacer {
    margin: 20px 0;
}

.content .huge-text {
    display: block;
    font-size: 96px;
}

.content .bold {
    font-weight: bold;
}

.content .monospace {
    font-family: 'Courier New', Courier, monospace;
}

.content .centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content .left {
    float: left;
    clear: left;
    margin-left: 0 !important;
}

.content .right {
    float: right;
    clear: right;
    margin-right: 0 !important;
}

.content .aside {
    box-sizing: border-box;
    width: 35%;
    margin: 0 10px 10px;
    max-width: 275px;
    width: fit-content;
    height: fit-content;
}

.content .border {
    padding: 5px;
    border: 1px solid var(--bright-border-color);
}

.content .clear {
    clear: both;
}


/*
Adjustments for smaller viewports
*/
@media only screen and (max-width: 900px) {
    h1 {font-size: 34px;}
    h2 {font-size: 30px;}
    h3 {font-size: 27px;}
    h4 {font-size: 24px;}
    h5 {font-size: 21px;}
    h6 {font-size: 18px;}
    .content {font-size: 18px;}
    .content .aside {max-width: 200px;}
}