
/*
FONTS
*/

@font-face {
    font-family: "Comic Neue";
    src: url("/static/font/Comic_Neue/ComicNeue-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Comic Neue";
    src: url("/static/font/Comic_Neue/ComicNeue-LightItalic.ttf") format("truetype");;
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Comic Neue";
    src: url("/static/font/Comic_Neue/ComicNeue-Regular.ttf") format("truetype");;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Comic Neue";
    src: url("/static/font/Comic_Neue/ComicNeue-Italic.ttf") format("truetype");;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Comic Neue";
    src: url("/static/font/Comic_Neue/ComicNeue-Bold.ttf") format("truetype");;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Comic Neue";
    src: url("/static/font/Comic_Neue/ComicNeue-BoldItalic.ttf") format("truetype");;
    font-weight: 600;
    font-style: italic;
}



/*
LAYOUT SPECIFIC STYLING
*/


body {
    margin: 0;
    padding: 0;

    color: rgb(220,220,220);
    background-color: rgb(30,30,30);
    font-family: "Comic Neue";
}


.section-wrapper {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 20px;

    margin: 20px auto;
    max-width: 1200px;
}

.section-wrapper header {
    position: sticky;
    top: 20px;
    left: 0;

    padding: 4px;
    height: max-content;

    color: black;
    border: 1px solid rgb(222,222,222);
}

.section-wrapper header > .inner {
    padding: 5px;

    background-color: rgb(240,240,240);
}

.section-wrapper header .banner {
    text-decoration: none; /* ENSURE NO UNDERLINE ON BANNER TEXT */
}

.section-wrapper header .banner img {
    display: block;
    max-width: 100%;
}

.section-wrapper header .banner img:hover {
    content: url("/static/res/std/pot-goose-gif.gif");
}

.section-wrapper header .banner h1 {
    margin: 0;

    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}

.section-wrapper header nav {
    margin-top: 10px;
}

.section-wrapper header nav a {
    display: block;

    margin: 5px 0;
    padding: 2px;
}

.section-wrapper header nav a:hover {
    color: rgb(222,222,222);
    background-color: black;
}

 
/*
MAIN CONTAINER STYLING
*/

main iframe,
main pre,
main img {
    display: block;
    box-sizing: border-box;

    margin: 20px auto;
    padding: 8px;
    width: 100%;

    border: 1px solid rgb(220,220,220);
}

main pre {
    white-space:pre-wrap;
}

main img {
    max-width: 100%;
    max-height: 700px;
}


/*
GENERAL STYLING
*/

a {
    cursor: pointer;
    color: unset;
    text-decoration: dotted underline;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: unset;
}


/*
SPECIFIC STYLING RULES
*/

#silly-city {
    width: 100%;
    height: 90px;
}