
/*

webgoose.net

CSS DEFINING MAIN STRUCTURE OF BASE TEMPLATE

this site has two primary states
- desktop
- mobile

The layout is defined desktop first, media queries transform to mobile layout

*/


body {
    margin: auto;
    padding: 20px;

    box-sizing: border-box;
    width: 1200px;
    max-width: 100%;
}

header .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .banner h1 {
    font-family: serif;
    font-size: 25px;

    margin: 0;
}

header .banner h1 span {
    font-family: monospace;
    font-size: 18px;
    color: rgb(40,40,40);
}

header .banner h2 {
    font-family: serif;
    font-size: 16px;
    color: rgb(40,40,40);

    margin: 0;
}

header .banner img {
    width: 80px;
    border: 1px solid black;
}

header nav {
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    border-top: 1px solid black;
    border-bottom: 1px solid black;

    padding: 7px 0;
    margin-top: 20px;
}

header nav a {
    display: block;

    text-decoration: none;
    font-family: monospace;
    font-size: 16px;
    color: black;
}

header nav a::first-letter {
    text-decoration: underline;
}

header nav a:visited {
    color: black;
}

header nav a:hover {
    background-color: black;
    color: white;
}

header nav a:active {
    background-color: transparent;
    color: black;
}


/*
    HANDLING SMALL VIEWPORTS
*/

@media only screen and (max-width: 650px) {
    header .banner img {
        display: none;
    }
}






/*
    PRIMARY CONTENT RULES
*/

main {
    margin: 25px 0;
}

main a {
    text-decoration: dotted underline;
}

main :first-child {
    margin-top: 0 !important;
}

main > img {
    display: block;

    box-sizing: border-box;
    max-width: 100%;
    border: 1px solid black;
    
    padding: 5px;
    margin: 30px auto;
}




/*
    STYLING OF LINKS SECTION
    -webrings
    -badges
*/

.links {
    text-align: center;
    border-top: 1px solid black;
    font-family: monospace;
    font-size: 16px;

    margin: 50px 0;
}


/*
    BADGES 
*/

.badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    margin: 30px 0;
}

.badges img {
    width: 48px;
    height: 48px;

    border: 1px solid black;

    padding: 1px;
}


/*
    WEBRINGS
*/

.webring {
    position: relative;
    z-index: 1000;

    height: 1px;
    width: calc(100% - 10px);
    background-color: black;

    margin: 50px 0;
}

.webring .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2000;

    border: 1px solid black;
    box-shadow: 3px 3px 0 black;
    background-color: white;
    color: black;
    text-decoration: none;

    padding: 5px;
}

.webring .button:active {
    box-shadow: none;
    transform: translate(3px, calc(-50% + 3px));
}

.webring .button.back {
    left: -5px;
}

.webring .button.next {
    right: -5px;
}

.webring .label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid black;
    background-color: white;

    padding: 5px;
}

/*
    SPECIFIC WEBRING STYLING
*/

#silly-city .label {
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    color: #ff0073;
}




/*
    FOOTER
*/

footer {
    border-top: 1px solid black;
    font-size: 14px;

    padding: 5px 0;
}

footer .watermark {
    color: rgb(40,40,40);
}



/*
    GENERAL TEXT OPTIONS
*/

a {
    cursor: pointer;
}

pre {
    overflow: auto;

    border: 1px solid black;
    white-space: pre-line;
    font-size: 14px;

    padding: 0 10px;
    margin: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 35px;
    font-weight: normal;
}