/*
GLOBAL CSS VARIABLES USED IN THE STYLESHEET SET FOR POTGOO.SE - Late 2023
*/

:root {

    /* block colours */
    --background-color: #1f1f1f;
    --bright-border-color: #efefef;
    --normal-border-color: #6f6f6f;
    --dark-border-color: #3f3f3f;
    

    /* font colours */
    --bright-text-color: #efefef;
    --normal-text-color: #bfbfbf;
    --dark-text-color: #7a7a7a;
    --normal-link-color: var(--bright-text-color);
    --dark-link-color: #bcbcbc;


    /* misc */
    --normal-radius: 3px;


    /* Windows(tm)-like button stuff */
    /* thank you mr bill gate pls stop epsteining children tysm :3 */
    --win-button-bg: #c0c0c0;
    --win-button-raised-box:    inset -1px -1px #0a0a0a,
                                inset 1px 1px #ffffff,
                                inset -2px -2px #808080,
                                inset 2px 2px #dfdfdf;
    
    --win-button-sunken-box:    inset -1px -1px #ffffff,
                                inset 1px 1px #0a0a0a0a,
                                inset -2px -2px #dfdfdf,
                                inset 2px 2px #808080;
}